{% extends 'index.html' %}
{% block title %}HOME{% endblock %}
{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/static/관람배경원본.jpg');
        background-repeat : no-repeat;
        background-size : cover;
        padding : 0px
    }
    .white-section {
    background-color: #fff;
    display: flex; /* Make it a flex container */
    position: absolute; /* Position the section absolutely */
    top: 120vh; /* Initially hidden below the viewport */
    width: 100%;
    height: 100vh; /* Cover the entire viewport */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    
    }
    .section2 {
    background-color: #FFC800;
    position: absolute; /* Position the section absolutely */
    top: 240vh; /* Initially hidden below the viewport */
    width: 100%;
    height: 100vh; /* Cover the entire viewport */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    background-size : cover;
    margin-left: auto; /* or remove margin-left entirely */

    }
    .section3 {
    background-color: #F0F0F0;
    position: absolute; /* Position the section absolutely */
    top: 340vh; /* Initially hidden below the viewport */
    width: 100%;
    height: 150vh; /* Cover the entire viewport */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    background-size : cover;
    margin-left: auto; /* or remove margin-left entirely */
    padding : 0px;
    }
</style>
{% endblock %}

{% block home %}

<div class="white-section" style="margin-top:170px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card d-flex flex-column justify-content-center align-items-center p-4">
                    <div class="card-title mb-2"><h3>SCHEDULE</h3></div>
                    <img src="/static/스케줄.png" class="card-img-top mb-5" alt="스케줄" style="width: 80%;">
                    <div class="card-body d-flex flex-column justify-content-between">  
                        <h5 class="card-text">나만의 여행스케줄을 만들 수 있어요</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card d-flex flex-column justify-content-center align-items-center p-4">
                    <div class="card-title mb-2"><h3>SCHEDULE</h3></div>
                    <img src="/static/스케줄2.png" class="card-img-top mb-5" alt="스케줄" style="width: 100%; height:330px">
                    <div class="card-body d-flex flex-column justify-content-between">  
                        <h5 class="card-text">나만의 여행스케줄을 만들 수 있어요</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:100px; margin-bottom:20px">
            <div class="col-md-6">
                <h1>여행에 필요한 모든것</h1><br>
                <h3>숙소, 맛집 검색 일정관리까지 한번에!</h3>        
                <button class="btn btn-primary" onclick="location.href='http://localhost:8000/trips/index/'" 
                style="width:100%; height:100px; font-size: 24px; margin-top:30px;">GO SCHEDULE</button>
            </div>
        </div>
    </div>
</div>



<div class="section2 d-flex justify-items-center">
    <div class="container mt-10">
        <div class="row justify-content-center">
            <div class="col-md-6" style="padding-top:20px">
                <div class="card d-flex flex-column justify-content-center align-items-center p-4">
                    <div class="card-title mb-2"><h3>EXPENSE</h3></div>
                    <img src="/static/가계부1.png" class="card-img-top mb-5" alt="가계부1" style="width: 70%; height: 290px">
                    <div class="card-body d-flex flex-column justify-content-between">  
                        <h5 class="card-text">그때 그때 금액과 영수증을 업로드할 수 있어요</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding-top:20px">
                <div class="card d-flex flex-column justify-content-center align-items-center p-4">
                    <div class="card-title mb-2"><h3>EXPENSE</h3></div> 
                    <img src="/static/가계부2.png" class="card-img-top mb-5" alt="가계부2" style="width: 70%;">
                    <div class="card-body d-flex flex-column justify-content-between">  
                        <h5 class="card-text">날짜별 지출액을 그래프로 확인해요</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:100px;">
            <div class="col-md-6">
                <h1>어려운 여행경비 정산</h1><br>
                <h3>여행스케줄과 연동되는 가계부 작성을 통해 효율적인 소비습관을 기를 수 있어요</h3>        
                <button class="btn btn-light" onclick="location.href='http://localhost:8000/expense/'" 
                style="width:100%; height:100px; font-size: 24px; margin-top:30px;">GO EXPENSE</button>
            </div>
        </div>
    </div>

</div>

<div class="section3">
    <div class="container">
        <div class="row justify-content-center" style="margin-top:100px">
            <div class="col-md-6">
                <div class="card d-flex flex-column justify-content-center align-items-center p-4">
                    <div class="card-title mb-2"><h3>REVIEW</h3></div>
                    <img src="/static/리뷰1.png" class="card-img-top mb-5" alt="리뷰1" style="width: 80%; height:293px">
                    <div class="card-body d-flex flex-column justify-content-between">  
                        <h5 class="card-text">일정별로 리뷰를 남길 수 있어요</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card d-flex flex-column justify-content-center align-items-center p-4">
                    <div class="card-title mb-2"><h3>REVIEW</h3></div>
                    <img src="/static/리뷰2.png" class="card-img-top mb-5" alt="리뷰2" style="width: 80%;">
                    <div class="card-body d-flex flex-column justify-content-between">  
                        <h5 class="card-text">포토카드로 보는 그날의 기억</h5>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center" style="margin-top:100px;">
            <div class="col-md-6">
                <h1>포토 카드와 함께 생생한 리뷰</h1><br>
                <h3>먼저 다녀온 여행자의 리얼한 여행기와 리뷰에서</h3> 
                <h3>숨은 정보와 꿀팁을 확인하세요.</h3>        
                <button class="btn btn-warning" onclick="location.href='http://localhost:8000/review/index/'" 
                style="width:100%; height:100px; font-size: 24px; margin-top:30px; margin-bottom:150px;">GO REVIEW</button>
            </div>
        </div>
    </div>
    <hr style="width:100%">
    <div class="container d-flex justify-content-center">
        
        <img src="/static/강아지-로고_최종.png" alt="로고" sytyle="width:30px;" align="left"><br>
        <div>
        <h6 align="left" style="margin-left:50px"> 당신의 새로운 여행을 함께!</h6>    
        <h6 align="left" style="margin-left:50px"> 제작 : 최강1조 (김지훈, 김민정, 김명일, 김한나)</h6>
        <h6 align="left" style="margin-left:50px"> 프로젝트기간 : 2024.5.28 - 2024.6.7
        </div>
    </div>
</div>

{% endblock %}


