{% extends 'index.html' %}
{% block title %}HOME{% endblock %}
{% block style %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-image: url('/static/관람배경원본.jpg');
        background-repeat : no-repeat;
        background-size : cover;
        padding : 0px
    }
    .white-section {
    background-color: #fff;
    display: flex; /* Make it a flex container */
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
    position: absolute; /* Position the section absolutely */
    top: 120vh; /* Initially hidden below the viewport */
    width: 100%;
    height: 100vh; /* Cover the entire viewport */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    
    }
    .section2 {
    background-color: #FFC800;
    position: absolute; /* Position the section absolutely */
    top: 230vh; /* Initially hidden below the viewport */
    width: 100%;
    height: 100vh; /* Cover the entire viewport */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    background-size : cover;
    margin-left: auto; /* or remove margin-left entirely */

    }
    .section3 {
    background-color: #fff;
    position: absolute; /* Position the section absolutely */
    top: 340vh; /* Initially hidden below the viewport */
    width: 100%;
    height: 100vh; /* Cover the entire viewport */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    background-size : cover;
    margin-left: auto; /* or remove margin-left entirely */
    padding : 0px;
    }
</style>
{% endblock %}

{% block home %}
<div class="white-section" style="margin-top:100px">
    <div class="card" style="width:100%;">
    <div class="card-body d-flex justify-content">
        <h5 class="card-title" style="margin-top:30px; margin-bottom:20px;">SCHEDULE</h5>
        <p class="card-text" style="margin-bottom:100px;">나만의 여행스케줄을 작성할 수 있어요</p>
        <div>
        <img src="/static/스케줄.png" class="card-img-top" alt="스케줄" style="width:400px; height:300px; margin-bottom:100px">
        <img src="/static/스케줄2.png" class="card-img-top" alt="스케줄" style="width:800px; height:300px; margin-bottom:100px">
        </div>
        <a href="http://localhost:8000/trips/index/" class="btn btn-primary btn-lg" style="margin-bottom:30px;">GO SCHEDULE</a>
    </div>
    </div>
</div>

<div class="section2 d-flex justify-items-center" style="margin-top:100px">

        <h5 class="card-title" style="margin-top:100px; margin-bottom:20px;">EXPENSE</h5>
        <p class="card-text" style="margin-bottom:100px;">여행스케줄과 연동되는 가계부 작성을 통해 효율적인 소비습관을 기를 수 있어요</p>
        <div>
        <img src="/static/스케줄.png" class="card-img-top" alt="스케줄" style="width:400px; height:300px; margin-bottom:100px">
        <img src="/static/스케줄2.png" class="card-img-top" alt="스케줄" style="width:800px; height:300px; margin-bottom:100px">
        </div>
        <a href="http://localhost:8000/expense/" class="btn btn-secondary btn-lg" style="margin-bottom:30px;">GO EXPENSE</a>

</div>

<div class="section3" style="margin-top:100px">
    <div class="card">
    <div class="card-body">
        <h5 class="card-title" style="margin-bottom:20px;">REVIEW</h5>
        <p class="card-text" style="margin-bottom:100px;">여행 후 나의 소중한 순간을 기록하고, 공유할 수 있어요!</p>
        <div>
        <img src="/static/스케줄.png" class="card-img-top" alt="스케줄" style="width:400px; height:300px; margin-bottom:100px">
        <img src="/static/스케줄2.png" class="card-img-top" alt="스케줄" style="width:800px; height:300px; margin-bottom:100px">
        </div>
        <a href="http://localhost:8000/expense/" class="btn btn-warning btn-lg" style="margin-bottom:30px;">GO REVIEW</a>
    </div>
    </div>
</div>
{% endblock %}


