<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}메인페이지{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <style>
    .header-logo {
      padding-left: 20px;
    }
    .header-buttons {
      padding-right: 20px;
    }
    .header-logo img {
      margin: 10px 0;
    }
    .header-buttons .btn {
      margin: 5px 10px;
    }
    .navbar-light {
    background-color: white; /* 네비게이션 바 배경색 */
    }
    .navbar-light .nav-link {
      color: #3C6DA7; /* 네비게이션 링크 색상 */
    }
    .bg-cover {
    background-size: cover; /* 배경 이미지 크기를 화면에 맞추기 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
    background-repeat: no-repeat; /* 배경 이미지 반복 금지 */
  }
  </style>
  {% block style %} {% endblock %}
</head>

<body>
  
<div class="container-fluid" style="width: 100rem; height: auto;">
    <header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0 header-logo">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="/static/강아지-로고_최종.png" alt="로고">
        </a>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto text-uppercase py-4 py-lg-0" style="font-size: 1.5rem;"> 
              <li class="nav-item"><a class="nav-link active" href="/home/">HoME</a></li>
              <li class="nav-item"><a class="nav-link" href="/trips/index/">SCHEDULE</a></li>
              <li class="nav-item"><a class="nav-link" href="/expense/">EXPENSE</a></li>
              <li class="nav-item"><a class="nav-link" href="/review/index/">REVIEW</a></li>
              <li class="nav-item"><a class="nav-link" href="/myplace/">MYPLACE</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a href="/home/" class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a href="/trips/index/" class="nav-link">일정만들기</a>
        </li>
        <li class="nav-item">
          <a href="/expense/" class="nav-link">가계부</a>
        </li>
        <li class="nav-item">
          <a href="/review/index/" class="nav-link">리뷰</a>
        </li>
        <li class="nav-item">
          <a href="/myplace/" class="nav-link">내장소</a>
        </li>
      </ul> -->
      <div class="col-md-3 text-end header-buttons">
        {% if not user.is_active %}
        <button type="button" class="btn btn-outline-primary me-2" onclick="document.location.href='/account/login/'" id="login">로그인</button>
        <button type="button" class="btn btn-primary" onclick="document.location.href='/account/register/'" id="join">회원가입</button>
        {% else %}
        <span class="text-capitalize fs-5 align-middle">
          {{ user }}님
        </span>
        <button type="button" class="btn btn-outline-primary me-2" onclick="document.location.href='/account/logout/'" id="logout">로그아웃</button>
        <button type="button" class="btn btn-primary" onclick="document.location.href='/account/myinfo/'" id="myinfo">내정보</button>
        <button type="button" class="btn btn-primary" onclick="document.location.href='/managetrip'" id="myinfo">일정관리</button>
        {% endif %}
      </div>
    </header>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  {% block menu_active %}
  {% endblock %}
  <script src="js/scripts.js"></script>
</body>
</html>
