{% extends 'index.html' %}
{% block title %}내 여행 보기{% endblock %}

{% block content %}
{% load humanize %}
    <style>
        .card-img-top {
            height: 180px;
            object-fit: cover;
        }
        .card-body {
            padding: 20px; /* 카드 본문의 패딩을 줄입니다 */
        }
        .card {
            width: 20rem; /* 카드 너비를 줄입니다 */
            margin: 10px; /* 카드 사이의 여백을 조정합니다 */
            height: auto;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h3 class="text-center mb-4">{{ userName }}님의 Triplus</h3>
    <button type="button" style="margin-top: 10px;"
    onclick="window.location.href='/review/index/'" class="btn btn-primary custom-button">이전으로</button>
    {% if trips %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for trip in trips %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if trip.id in imageList %}
                        {% for tripId, image in imageList.items %}
                            {% for image in image %}
                                {% if trip.id == tripId and forloop.last %}
                                <img src="{{ image }}" class="card-img-top" alt="{{ trip.region }}">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% else %}
                        <img class="card-img-top" src="/path/to/default/image.jpg" alt="default image">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text"><strong>여행지:</strong> {{ trip.region }}</p>
                            <p class="card-text"><strong>작성자:</strong> {{ trip.user }}</p>
                            <p class="card-text"><strong>시작일:</strong> {{ trip.start_date }}</p>
                            <p class="card-text"><strong>종료일:</strong> {{ trip.end_date }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" 
                                    onclick="location.href='/review/tripDetail/{{trip.id}}/'">View</button>
                                </div>
                                <small class="text-muted">{{ trip.duration }} days</small>
                            </div>
                        </div>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-center">게시물이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}


