{% extends 'index.html' %}
{% block title %}여행 일정 만들기{% endblock %}

{% block content %}
{% load humanize %}
<style>
    body {
    font-family: Arial, sans-serif;
}
</style>

<div>
    <form method="get">
        <div class="row mb-3 justify-content-center">
            <div class="col-auto">
                <button class="btn btn-primary rounded-pill px-3" type="button" style="width: 200px; color: rgb(204, 255, 255);"
                onclick="location.href='/review/index/'">Trip 둘러보기</button>
            </div>
            {% if user.is_active %}
            <div class="col-auto">
                <button class="btn btn-warning rounded-pill px-3" type="button" style="width: 200px; background-color: rgb(0, 127, 255); border:0"
                onclick="location.href='/review/detail/{{userId}}/'">My Trip</button>
            </div>
            {% endif %}
        </div>
        <div class="row mb-3 justify-content-center">
            <div class="col-auto">
                <div class="input-group">
                    <input type="text" name="topic" class="form-control search-input" placeholder="Search..." style="width: 300px;">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary" style="width: 100px;">검색</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- Card Layout for Trips -->
    {% if topic %}
    <!-- 검색한 경우 -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                {% for tId, details in detailList.items %}
                {% for detail in details %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="width: 15rem; height: auto;">
                        {% if tId in imageList %}
                        {% for tripId, image in imageList.items %}
                            {% for img in image %}
                                {% if tId == tripId and forloop.last %}
                                <img src="{{ img }}" class="card-img-top" style="width: 100%; height: 150px; object-fit: cover;" alt="{{ detail.destination.name }}">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                        <div class="card-body" style="padding: 10px;">
                            <p class="card-text"><strong>장소:</strong> {{ detail.destination.name }}</p>
                            <p class="card-text"><strong>비용:</strong> {{ detail.expense|floatformat:0|intcomma }}</p>
                            <p class="card-text"><strong>내용:</strong> {{ detail.context }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" 
                                    onclick="location.href='/review/tripDetail/{{tId}}/'">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% elif trips %}
    <div class="album py-5 bg-light">
        <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-item-center">
                {% for trip in trips %}
                <div class="col  d-flex justify-content-center">
                    <div class="card mb-4 shadow-sm" style="width: 15rem; height: auto;">
                        {% if trip.id in imageList %}
                        {% for tripId, image in imageList.items %}
                            {% for img in image %}
                                {% if trip.id == tripId and forloop.last %}
                                <img src="{{ img }}" class="card-img-top" style="width: 100%; height: 150px; object-fit: cover;" alt="{{ trip.region }}">
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {% endif %}
                        <div class="card-body" style="padding: 10px;">
                            <p class="card-text"><strong>작성자:</strong> {{ trip.user }}</p>
                            <p class="card-text"><strong>지역:</strong> {{ trip.region }}</p>
                            <p class="card-text"><strong>시작일:</strong> {{ trip.start_date }}</p>
                            <p class="card-text"><strong>종료일:</strong> {{ trip.end_date }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" 
                                    onclick="location.href='/review/tripDetail/{{trip.id}}/'">View</button>
                                </div>
                                <small class="text-muted">{{ trip.duration }} days</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for x in trips_len %}
                <div class="col">
                    <div style="width: 15rem; height: auto;">
                        <div class="card-body" style="padding: 10px;">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-center">게시물이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}
