{% extends 'index.html' %}
{% block title %}여행 일정 만들기{% endblock %}
{% block content %}
<div style="margin-top: 0;">
    <style>
        #previewContainer {
            padding: 50px;
        }

        .trip-card-title {
            padding-top: 60px;
        }

        .card {
            width: 15rem; /* 카드 너비를 줄입니다 */
            margin: 10px; /* 카드 사이의 여백을 조정합니다 */
            height: auto;
        }

        .card-img-top {
            width: 100%;
            height: 150px; /* 이미지 높이를 고정합니다 */
            object-fit: cover; /* 이미지가 고정된 크기에 맞게 조정되면서 비율을 유지합니다 */
        }

        .card-body {
            padding: 10px; /* 카드 본문의 패딩을 줄입니다 */
        }

        .custom-button {
            margin-top: 5px; /* 버튼 사이의 간격을 줄입니다 */
        }
    </style>
    <h5 class="text-center mb-4">{{ trip.user }}의 "{{ trip.region }}" 여행기</h5>
    <table class="table table-bordered table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th>Day</th>
                <th>장소</th>
                <th>지출비용</th>
            </tr>
        </thead>
        <tbody>
            {% for tripdetail in tripdetails %}
            <tr>
                <td>{{ tripdetail.day }}</td>
                <td>{{ tripdetail.destination.name }}</td>
                <td>{{ tripdetail.expense }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<hr>

<h3 style="top: 50px;" class="trip-card-title">Trip Cards</h3>
<div id="cardContainer" class="d-flex flex-wrap justify-content-center gap-3">
    {% for tripdetail in tripdetails %}
    <div class="card">
        {% if tripdetail.id in imageUrls %}
            {% for tripdetailID, urls in imageUrls.items %}
                {% for url in urls %}
                    {% if tripdetailID == tripdetail.id and forloop.first %}
                        <!-- 리스트 내에 url이 존재하면 이미지 보여주기 -->
                        <img class="card-img-top" src="{{ url }}" alt="Trip image">
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <img class="card-img-top" src="{{ defaultImg_path }}" alt="default image">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">DAY - {{ tripdetail.day }}</h5>
            <p class="card-text">{{ tripdetail.destination.name }}</p>
            <p class="card-text">{{ tripdetail.context }}</p>
            <a href="javascript:void(0)" class="btn btn-primary" onclick="window.location.href='/review/add/{{tripdetail.id}}/'">This Trip</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
