{% extends 'index.html' %}
{% block title %}여행 일정 만들기-디테일{% endblock %}
{% block style %}
    <style>
        th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}


<div class="container" style="margin-top: 0px;">
    <div class="text-center ml-4 mb-5">
        <h3 style="font-weight: bold;">{{ head }}</h3>
    </div>

    <div class="row">
        <div class="col">
            <form method='post'> {% csrf_token %}
                <table class="table table-bordered border-secondary text-center" style="width: 90%;">
                <thead class="table border-secondary">
                <tr>
                    <th colspan="2" class="text-uppercase">Add-Trip</th>
                </tr>
                </thead>
                <tr>
                    <th>Day</th>
                    <td><input type="number" class="form-control" id="quantity" 
                    name="day" min="1" max={{ day }} step="1"></td>
                </tr>
                <tr>
                    <th>Destination</th>
                    <td>
                        <select class="form-select" name='d_id'>
                        <option selected>내 장소에서 선택하기</option>
                        {% for i in destination %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Expense</th>
                    <td><input type="text" class="form-control" name='expense' value="0"></td>
                </tr>
                <tr>
                    <th>context</th>
                    <td><input type="text" class="form-control" name='context'></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" class="btn btn-warning" 
                            style="width:120px" value="ADD"
                                onclick="document.location.href='/'">
                        <input type="reset" class="btn outline-danger" 
                            style="width:120px" value="RESET">
                    </td>
                </tr>
                </table>
            </form> 
            <button type="button" class="btn btn-light" style="width:400px"
            onclick="location.href='/destinations/{{trip_id}}'">장소추가</button>           
        </div>

        <div class="col">
            <table class="table border-primary text-center table-hover" style="width:100%;">
                <thead class="table-secondary">
                <tr>
                    <th class="text-uppercase">Trip-Detail</th>
                </tr> 
                </thead>
                <tbody>
                {% for day in trip_dates %}                
                    <tr class="table-secondary">
                        <td style="font-weight: bold;">{{ day }} DAY</td>
                    </tr>
                    {% for i in tripdetail %}  
                        {% if i.day == day %}    
                        <tr class="table table-border-secondary">
                            <td>
                                <ul class="list-group">                                             
                                    <a>{{ i.destination }}</a>     
                                </ul>
                            </td>       
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}  
                </tbody>              
            </table>

        </div>

{% endblock %}