{% extends 'index.html' %}
{% block title %}로그인{% endblock %}
{% block script %}
<script>
    if ('{{ msg }}'.length > 0) {
        alert('{{msg}}');
    }
</script>
<style>
    body {
            font-family: Arial, sans-serif;
    }

  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    width: 50px;
    height: 10px;
  }

  table {
    width: 65%; /* Adjust width as needed */
    border-collapse: collapse; /* Remove default table border spacing */
  }

  th, td {
    padding: 10px; /* Add padding to cells */
    border: 1px solid #ddd; /* Add borders to cells */
  }

</style>
{% endblock %}

{% block content %}
    <form method="post" class="table-container">{% csrf_token %}
        <table class="table-secondary" style='width:40%; height:200px; margin-top:30px' align="center">
            <tr>
                <th>로그인 아이디</th>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <th>로그인 암호</th>
                <td><input type="password" name="password"></td>
            </tr>
            <tr style='height:100px;'>
                <td colspan="2">
                    <input type="submit" class="btn btn-warning" 
                        style="width:120px" value="로그인">
                    <input type="reset" class="btn border-secondary" 
                        style="width:120px" value="다시입력">
                    <input type="button" class="btn border-secondary" 
                        style="width:120px" value="회원가입" 
                            onclick="document.location.href='/account/register/'">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}